@import "ember-modal-dialog/ember-modal-structure";
@import "ember-modal-dialog/ember-modal-appearance";

*{
    padding:0;
    margin:0;
}

.main-container{
    padding:0 !important;
    width: 80% !important;
}

.ember-view{
    background: #393939;
}

.main-container{
    margin: auto;
    min-width: 600px;
}

.main-nav{
    background: #393939;
    font-size: 1.6em;
}

.nav-link:not(.active){
    color: #E66600;
    cursor: pointer;
}

.nav-link:not(.active):hover {
    color: #888888;
}

.active{
    color: #888888;
}

/*------TWOHYS MOVIES------*/
.twohys-movies-header{
    margin: 0;
    background: #cccccc;
    padding: 40px;
    box-shadow: none;
    font-family:  Arial, Helvetica, sans-serif;
}

.twohys-movies-navbar{
    border-radius:  0px;
    border-bottom: 2px solid #cccccc;
    font-size: 1.7em;
    padding: 0;
    margin:0;
}
.movie-search-bar{
    font-size: 2em;
    width: 96%;
    float: left;
    border: none;
    padding: 1px 0;
    background: white;
    color: #787878;
}
.movie-search-bar::placeholder{
    color: #999999;
}

.movie-search-bar:focus,
.movie-search-bar.select:focus,
.movie-search-bar.textarea:focus,
.movie-search-bar.button:focus {
    outline: none;
}

.movie-list-img{
    width: 100%;
    max-height: 338px;
    border-radius: 10px;
}
.movie-list-title{
    font-size: 16px; color: #919191;
}

.movie-list-overview{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;

    -webkit-box-orient: vertical;
    font-size: 15px;
    color: #a9a9a9;
    line-height: 20px;
}

.movie-list-rating{
    position: absolute;
    right: 20px;
    bottom: 10px;
}

@media screen and (min-width: 1000px) {
    .movie-list-overview{
        -webkit-line-clamp: 15;
    }
}
