<div class="container-fluid">
    <div class="row">
        <div style="background: white; display: inline; width: 100%">
            <span class="glyphicon glyphicon glyphicon-search" aria-hidden="true" style="width: 4%; float: left; text-align: center; font-size: 20px; font-weight: 50; line-height: 30px; color: #585858; padding: 1px 0;"></span>
            {{input key-up="setTheThing" value=movieToSearch action=setTheThing type="text" name="text" placeholder="Search Movies" class="movie-search-bar" autofocus="autofocus"}}
        </div>
    </div>
</div>

<div style="background: #393939; width: 100%; min-height: 300px; color: white; padding: 20px; font-size: 2em;">
    <!-- TODO: Make this into a component -->
    {{#each movies as |movie|}}
        {{#if movie.hasRating}}
            {{movie-list-box movie=movie}}
        {{/if}}
    {{/each}}
</div>
