<div style="background: #393939; width: 100%; min-height: 300px; color: white; padding: 20px; font-size: 2em;">
    <p>
        TODO: This is my collection view.  Only I will be able to edit the movies in here.  I will also provide a guest browse alternative
    </p>
</div>
{{outlet}}
