{{stary-background}}
<div class="container-fluid" style="position: absolute; bottom: 0; top:0; background: pink; width: 80%; margin-left: 10%; height: 4000px;">

</div>


<!-- <div class="foreground" style="background: red; height: 2000px; width: 80%; position: absolute;">

    <div class="header" style="background: green; height: 100px; width: 90%; margin: auto;">

    </div>
    <div class="content" style="background: purple; height: 1200px; width: 90%; margin: auto;">

    </div>
    <div class="footer" style="background: grey; height: 100px; width: 90%; margin: auto;">

    </div>

</div> -->
