{{snowy-background}}
<div class="container-fluid" style="height: 100%; position: fixed; bottom: 0; top:0; background: #393939; width: 60%; margin-left: 20%;"></div>
<div style="position: absolute; top: 0; left: 42%; background: red; width: 300px; height: auto;">
    <div style="background: green; height: 10000px; width: 10%; margin: auto;">

    </div>
</div>
