<div class="page-content-container">
    <div class="row">
        <!-- BUILDERTREND -->
        <div class="col-xs-12 experience-card-wrapper">
            <div class="card mb-3 experience-card" style="margin: 0px !important;">
                <a href="https://buildertrend.com" target="_blank">
                    <img class="card-img-top experience-card-img" src="/assets/images/experience/buildertrendlogo.png" alt="Buildertrend">
                </a>
                <div class="card-body experience-card-body">
                    <div class="card-title-wrapper">
                        <h4 class="title">Buildertrend Solutions Inc. <span class="state">(Omaha Nebraska)</span></h4>
                        <h4 class="years">Applications Developer I</h4>
                        <h4 class="years">(Late 2016 - Current)</h4>
                    </div>
                    <p class="experienc-card-text">
                        Out of school at Iowa State I was picked up by Buildertrend.  A builder SASS company located in the
                        <a class="card-link" href="https://en.wikipedia.org/wiki/Silicon_Prairie">"Silicon Prarie"</a> of Nebraska.
                        It's a pretty sweet gig where I get to do web development, play ping pong, drink beer from the kegorator,
                        and to top it off, get my ass kicked at Smash Bros.
                    </p>
                </div>
            </div>
        </div>

        <!-- CASEYS -->
        <div class="col-xs-12 experience-card-wrapper">
            <div class="card mb-3 experience-card" style="margin: 0px !important;">
                <a href="https://www.caseys.com/" target="_blank">
                    <img class="card-img-top experience-card-img" src="/assets/images/experience/Caseyslogo.png" alt="Buildertrend" style="width: 25%; padding: 10px 0 5px 0;">
                </a>
                <div class="card-body experience-card-body">
                    <div class="card-title-wrapper">
                        <h4 class="title">Casey's General Stores, Inc. <span class="state">(Ankeny IA)</span></h4>
                        <h4 class="years">Software Developer Intern</h4>
                        <h4 class="years">(Mid 2014 - Late 2016)</h4>
                    </div>
                    <p class="experienc-card-text">
                        While going to school at Graceland University I obtained a job working at Casey's General Store in the
                        warehouse.  Once I mastered the art of stacking boxes given limited space and a minimum
                        amount of moving tape, I worked in the IT department programming in VB.net and SQL.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="col-xs-12" style="height: auto;  background: grey; padding: 20px;">
    <img src="/assets/images/experience/Caseyslogo.png" style="width: 30%; height: 100%;" />
</div>
<div class="col-xs-12" style="height: auto;  background: grey; padding: 20px;">
    <img src="/assets/images/experience/FPL.png" style="width: 40%; height: 100%;" />
</div>
<div class="col-xs-12" style="height: auto;  background: grey; padding: 20px;">
    <img src="/assets/images/experience/BrookstoneLogoBlack.png" style="width: 60%; height: 100%;" />
</div>
<div class="col-xs-12" style="height: auto;  background: grey; padding: 20px;">
    <img src="/assets/images/experience/Targetlogo.png" style="width: 60%; height: 100%;" />
</div>
<div class="col-xs-12" style="height: auto;  background: grey; padding: 20px;">
    <img src="/assets/images/experience/littlecaesars.png" style="width: 60%; height: 100%;" />
</div> -->
